<div class="row-block-one">
  <div ng-controller="notificationsCtrl" class="widget blue">
    <div class="widget-title">
      <h4><i class="fa fa-bell-o icon-padding" aria-hidden="true"></i> Notifications </h4>
      <span class="widget-options">
        <a href="#" class="fa fa-angle-down icon-padding" aria-hidden="true"></a>
        <a href="#" class="fa fa-times icon-padding" aria-hidden="true"></a>
      </span>
    </div>
    <div class="widget-body">
      <ul class="item-list"  style="overflow: hidden; width: auto; height: 320px;" data-always-visible="1">
        <li ng-repeat="notification in notifications">
          <span class="main-label {{notification.label}}"><i class="fa fa-bell-o icon-padding" aria-hidden="true"></i></span>
          <span>{{notification.notify}}</span>
          <div class="pull-right">
            <span class="small italic ">{{notification.time}}</span>
          </div>
        </li>
      </ul>
      <a href="#" class="pull-right down-notify">View all notifications</a>
      <div class="space10"></div>
      <div class="clearfix no-top-space no-bottom-space"></div>
    </div>
  </div>
</div>  